.border {
  border: 1px solid;
}

.controls {

}

/* Flex Layout */
.flex-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

/* Core */
html, body {
  height: 100%;
  margin: 0;
}
